@charset "UTF-8";

/*
    EM HTML é id em CSS é #
    Em HTML é class e CSS é . 
*/
body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #1e402f;
}
h2{
    color:#3c805e;
}
h1#principal{
    text-align: center;
    background-color: #3c805e;
    color:white;
}
.basico{
    color: rgba(0, 129, 6, 0.719);
    font-weight: bold;
}
.intermediario{
    color: rgba(161, 159, 3, 0.849);
}
.avancado{
    color: rgba(129, 7, 7, 0.719);
}
.destaque{
    background-color: rgba(255, 255, 1, 0.411);
}